.wrapper {
  background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 5)),
    url("../Images/lights.jpg") no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}
